binpacking==1.5.2
datasets==2.18.0
decord==0.6.0
gradio==5.34.1
imagesize==1.4.1
modelscope==1.27.0
numpy==2.3.0
openai==1.88.0
packaging==25.0
pandas==2.3.0
peft==0.13.2
Pillow==11.2.1
qwen_agent==0.0.27
Requests==2.32.4
torch==2.5.0
torchcodec==0.4.0
torchvision==0.20.0
tqdm==4.67.1
validators==0.35.0
transformers
swanlab
